.navigation{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 50px;
    height: 50px;
}
.hero{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blue;
    margin: 0%;
}
body{
    margin: 0%;
    overflow-x: hidden;

}
.cards-container{
    display: flex;
    justify-content: space-between;

}
.cards{
    text-align: center;
    margin: auto;
}
.cards.image{
    border-radius: 20px;
}

@media screen and(max-width: 767px){
    .cards-container{ flex-direction: column;}
    
}